<div class="d-flex justify-content-between header pl-3 pr-3">
  <div class="mouse-hand  " (click)="goToHome()">
    <i class="fa fa-angle-left ml-1"></i><span class="ml-1">MOVIES</span>
  </div>
  <div>
    <i class="fa fa-search mr-4"></i><i class="fa fa-align-justify mr-1"></i>
  </div>
</div>
<div class="separator"></div>

<div class="p-4">
  <div class="row">
    <div class="d-flex justify-content-center ">
      <!--Added temporary image since video is not working-->
      <img src="../assets/img/video_prev.PNG" class="video-container">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <img *ngIf="movie" class="w-100" [src]="this.imageURL + this.movie.asset + '/cover/small_video_list.png'">
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="">
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <b>Duration</b>
          </div>
          <div class="col-xs-12 col-sm-7">
            {{movieDetail.runtime}}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <b>Director</b>
          </div>
          <div class="col-xs-12 col-sm-7">
            {{movieDetail.directors}}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <b>Stars</b>
          </div>
          <div class="col-xs-12 col-sm-7">
            {{movieDetail.cast}}
          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-6">
      {{movieDetail.description}}
    </div>
  </div>
</div>





