<div class="d-flex justify-content-between header pl-3 pr-3">
  <div>
    <i class="fa fa-angle-left ml-1"></i><span class="ml-1">MOVIES</span>
  </div>
  <div>
    <i class="fa fa-search mr-4"></i><i class="fa fa-align-justify mr-1"></i>
  </div>
</div>

<div class="separator">

</div>

<div *ngFor="let category of allCategories">
  <div class = "sub-header ml-4" (click)="navigateToCategory(category.name)">{{category.name}}</div>
  <div>
    <div class="col-12">
      <swiper [config]="config">
        <app-movie-preview [isSlider]="true" *ngFor="let movie of category.movies" [movie]="movie"></app-movie-preview>
      </swiper>
    </div>

  </div>
</div>
